/* 
    Document   : islandora_basic_collection.theme
    Created on : May 23, 2012, 11:23:56 AM
    Description: The basic multilingual page is a simple flexible layout page
    that breaks down to two columns when 2 sidebars are visible
*/


#content-header h1.title {
    display: none;
}
.islandora-multilingual-link {

}
.islandora-multilingual-content-wrapper{
	position: relative;
}
.islandora-multilingual-content {
  float: left;
  max-width: 25%;
}

.islandora-multilingual-content img {
  border: 1px solid #aaa;
  padding: 7px;
  margin: auto;
  width: 200px;
  clear: both;
}

.islandora-multilingual-metadata {
  display: block;
  clear: both;
}

dl.islandora-multilingual-fields {
  width:100%;
}

.islandora-multilingual-metadata dt {
  font-weight: normal;
  text-align: right;
  font-weight: bold;
  padding-right: 0;
}

.islandora-multilingual-metadata dd {
  padding-left: 40px;
}


.islandora-multilingual-metadata dt,
.islandora-multilingual-metadata dd {
  border-top:1px solid #e5e5e5;
}

.islandora-multilingual-metadata dt.first,
.islandora-multilingual-metadata dd.first {
  border-top:0;
}

.islandora-multilingual-sidebar dd {
	margin: 0;
	padding-bottom: 0.3em;
}
dd.mods-title{
	font-size: 1.4em;
}

dd.mods-doctype {
	font-style: italic;
}


.mods-authors .item-list{
  padding: 0;
  margin: 0;
}
.item-list ul.authors {
  list-style-type: none;
  display: inline;
  padding: 0;
  margin: 0;
}
.islandora-inline-metadata ul.links {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.islandora-multilingual-sidebar {
	float: right;
	padding-left: 15px;
	width: 74%;
}
/*
 * 
@media all and (min-width: 768px) {

  body.no-sidebars .islandora-multilingual-content {
    width: 65%;
    float: left; /* LTR */
/*
  }

  body.no-sidebars .islandora-multilingual-sidebar {
    padding-left: 20px;
  }

  body.no-sidebars .islandora-multilingual-sidebar {
    float: right; /* LTR */
/*
    width: 35%;
    clear: none;
  }
  
}
    */


